### Import dataset

In [4]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline


data = pd.read_json('worldCup.json')
players = pd.read_json('player.json')

data.head()

,eventId,eventName,eventSec,id,matchId,matchPeriod,playerId,positions,subEventId,subEventName,tags,teamId
0,8,Pass,1.892339,263883958,2058017,1H,14943,"[{u'y': 51, u'x': 50}]",85,Simple pass,[],Croatia
1,8,Pass,3.889375,263883959,2058017,1H,69968,"[{u'y': 52, u'x': 39}, {u'y': 74, u'x': 34}]",85,Simple pass,[{u'id': 1801}],Croatia
2,8,Pass,6.140946,263883960,2058017,1H,8287,"[{u'y': 74, u'x': 34}, {u'y': 93, u'x': 30}]",85,Simple pass,[{u'id': 1801}],Croatia
3,8,Pass,9.226570,263883963,2058017,1H,69409,"[{u'y': 93, u'x': 30}, {u'y': 65, u'x': 11}]",85,Simple pass,[{u'id': 1801}],Croatia
4,8,Pass,12.658969,263883964,2058017,1H,135747,"[{u'y': 65, u'x': 11}, {u'y': 51, u'x': 64}]",84,Launch,[{u'id': 1801}],Croatia

### trasformo colonna tags da lista di dict a lista

In [5]:
def make_list(list_dict, key = 'id'):
    if len(list_dict) ==0:
        return []
    return [i['id'] for i in list_dict]
    
    
data.tags = data.tags.apply(make_list)
data.head()

,eventId,eventName,eventSec,id,matchId,matchPeriod,playerId,positions,subEventId,subEventName,tags,teamId
0,8,Pass,1.892339,263883958,2058017,1H,14943,"[{u'y': 51, u'x': 50}]",85,Simple pass,[],Croatia
1,8,Pass,3.889375,263883959,2058017,1H,69968,"[{u'y': 52, u'x': 39}, {u'y': 74, u'x': 34}]",85,Simple pass,[1801],Croatia
2,8,Pass,6.140946,263883960,2058017,1H,8287,"[{u'y': 74, u'x': 34}, {u'y': 93, u'x': 30}]",85,Simple pass,[1801],Croatia
3,8,Pass,9.226570,263883963,2058017,1H,69409,"[{u'y': 93, u'x': 30}, {u'y': 65, u'x': 11}]",85,Simple pass,[1801],Croatia
4,8,Pass,12.658969,263883964,2058017,1H,135747,"[{u'y': 65, u'x': 11}, {u'y': 51, u'x': 64}]",84,Launch,[1801],Croatia

## Divido il campo in celle

In [6]:
# dimensioni stadio Luzhniki
lungo = 68
largo = 105


# griglia
# 1,5 ..... 5,5
# .........
# 1,1 .... 5,1

def give_cell(pos):
    
    if pos['x'] < lungo/5:
        xc = 1
    elif pos['x'] < (lungo/5)*2:
        xc = 2
    elif pos['x'] < (lungo/5)*3:
        xc = 3
    elif pos['x'] < (lungo/5)*4:
        xc = 4
    else:
        xc = 5

    if pos['y'] < largo/5:
        yc = 1
    elif pos['y'] < (largo/5)*2:
        yc = 2
    elif pos['y'] < (largo/5)*3:
        yc = 3
    elif pos['y'] < (largo/5)*4:
        yc = 4
    else:
        yc = 5
            
        
    return [xc,yc]
    
def get_grid(lis):
    if lis[0] == 1:
        if lis[1] == 1:
            return 1
        elif lis[1] == 2:
            return 6
        elif lis[1] == 3:
            return 11
        elif lis[1] == 4:
            return 16
        else:
            return 21
    elif lis[0] == 2:
        if lis[1] == 1:
            return 2
        elif lis[1] == 2:
            return 7
        elif lis[1] == 3:
            return 12
        elif lis[1] == 4:
            return 17
        else:
            return 22
    elif lis[0] == 3:
        if lis[1] == 1:
            return 3
        elif lis[1] == 2:
            return 8
        elif lis[1] == 3:
            return 13
        elif lis[1] == 4:
            return 18
        else:
            return 23
    elif lis[0] == 4:
        if lis[1] == 1:
            return 4
        elif lis[1] == 2:
            return 9
        elif lis[1] == 3:
            return 14
        elif lis[1] == 4:
            return 19
        else:
            return 24
    else:
        if lis[1] == 1:
            return 5
        elif lis[1] == 2:
            return 10
        elif lis[1] == 3:
            return 15
        elif lis[1] == 4:
            return 20
        else:
            return 25

In [7]:
data_grid = data
data_grid['grid'] = 0
l = len(data_grid.index)
print l
data_grid.head()

1547

,eventId,eventName,eventSec,id,matchId,matchPeriod,playerId,positions,subEventId,subEventName,tags,teamId,grid
0,8,Pass,1.892339,263883958,2058017,1H,14943,"[{u'y': 51, u'x': 50}]",85,Simple pass,[],Croatia,0
1,8,Pass,3.889375,263883959,2058017,1H,69968,"[{u'y': 52, u'x': 39}, {u'y': 74, u'x': 34}]",85,Simple pass,[1801],Croatia,0
2,8,Pass,6.140946,263883960,2058017,1H,8287,"[{u'y': 74, u'x': 34}, {u'y': 93, u'x': 30}]",85,Simple pass,[1801],Croatia,0
3,8,Pass,9.226570,263883963,2058017,1H,69409,"[{u'y': 93, u'x': 30}, {u'y': 65, u'x': 11}]",85,Simple pass,[1801],Croatia,0
4,8,Pass,12.658969,263883964,2058017,1H,135747,"[{u'y': 65, u'x': 11}, {u'y': 51, u'x': 64}]",84,Launch,[1801],Croatia,0

In [8]:
get_grid(give_cell(data_grid.positions[0][0]))

14

In [ ]:
for i in range(l):
    temp = get_grid(give_cell(data_grid.positions[i][0]))
    data_grid.grid[i] = temp

/Users/andreapastelli/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
data_grid.head(20)